*{
  margin: 0;
  padding: 0;

}
body{
  background-image: url(../image/トップページ\　背景.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.mypage-title {
  padding: 0.5em 1em;
  margin: 0 2em;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: white;
}

.mypage-main {
  margin: 0 2em;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: white;
}

.mypage-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em 1em;
}

.favorite-title {
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: white;
}

.favorite-main {
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: white;
}

.comment-title {
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: white;
}

.comment-main {
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #000000;
  background-color: white;
}